body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:682px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:802px;
}
#u2268 {
  position:absolute;
  left:300px;
  top:0px;
  width:382px;
  height:802px;
}
#u2269 {
  position:absolute;
  left:2px;
  top:393px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:637px;
}
#u2270 {
  position:absolute;
  left:316px;
  top:75px;
  width:350px;
  height:637px;
}
#u2271 {
  position:absolute;
  left:2px;
  top:310px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2273 {
  position:absolute;
  left:316px;
  top:75px;
  width:350px;
  height:20px;
}
#u2274 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(81, 81, 81, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2275 {
  position:absolute;
  left:570px;
  top:75px;
  width:76px;
  height:20px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2276 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u2277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u2277 {
  position:absolute;
  left:645px;
  top:78px;
  width:10px;
  height:14px;
}
#u2278 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u2279 {
  position:absolute;
  left:327px;
  top:78px;
  width:20px;
  height:14px;
}
#u2280 {
  position:absolute;
  left:2px;
  top:-1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u2281 {
  position:absolute;
  left:355px;
  top:78px;
  width:20px;
  height:14px;
}
#u2282 {
  position:absolute;
  left:2px;
  top:-1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:617px;
  background:inherit;
  background-color:rgba(239, 239, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2283 {
  position:absolute;
  left:316px;
  top:95px;
  width:350px;
  height:617px;
}
#u2284 {
  position:absolute;
  left:2px;
  top:300px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(57, 58, 63, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2285 {
  position:absolute;
  left:316px;
  top:95px;
  width:350px;
  height:50px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:17px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2287 {
  position:absolute;
  left:379px;
  top:112px;
  width:91px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2288 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:35px;
}
#u2289 {
  position:absolute;
  left:319px;
  top:104px;
  width:53px;
  height:35px;
}
#u2290 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:43px;
}
#u2291 {
  position:absolute;
  left:627px;
  top:99px;
  width:30px;
  height:43px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293 {
  position:absolute;
  left:316px;
  top:145px;
  width:350px;
  height:567px;
  overflow:hidden;
}
#u2293_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:567px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2293_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:257px;
}
#u2294 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:257px;
}
#u2295 {
  position:absolute;
  left:2px;
  top:120px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
